/*--------HEADER------*/

#mynav {
  background-color: #ffffff;
  max-height:fit-content;
  border-bottom: 1px solid gray;
  height: 95px;
}
#mynav .container-fluid {
  flex-wrap:nowrap;
  justify-content: center;
}
#mynav .navbar-brand {
  max-width: 300px;
  margin: 0px;
}
#mynav .navbar-brand img {
  width: 100%;
}
#Toggle {
 border: none;
 background-color: #fff;
}
#mynav #navigation-bar {
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}
#mynav #navigation-bar .nav-item {
  list-style-type:none;
}
#mynav #navigation-bar .nav-item  .nav-link {
  font-weight: 900;
  color: #1f425d;
}
#mynav #navigation-bar .nav-item  .nav-link:hover {
  color: #0d6efd;
}
#navigation-bar .my-dropdown {
  padding:10px 0px; 
  margin: 0px;
  background-color: #4ab9cf;
  left: -50px;
  top: 50px;
}
#navigation-bar .my-dropdown li {
  padding: 10px 0px;
}

#mynav .left-section button {
  width: 170px;
  height: 60px;
  border:none;
  background-color: #4ab9cf;
  transition: 0.5s;
}
#mynav .left-section button:hover {
  background-color:#1f425d;
}
#mynav .left-section button a {
 text-decoration: none;
 color: white;
 font-weight: 900;
}
#mynav .left-section span {
  margin-left: 17px;
}

/* -------=sm screen =----- */
@media (min-width: 76px) and (max-width:554px) {
  #mynav .container-fluid {
    padding: 10px 10px;
  }
}


@media (min-width: 990px) {
  #mynav #Toggle {
    display: none;
  }
  #mynav .container-fluid {
    justify-content: center;
    gap: 50px;
    padding: 0px 3rem;
  }
}
@media (min-width:553px) and (max-width:990px) {
  #mynav .container-fluid {
    padding: 10px 8rem;
  }
  #mynav .navbar-brand {
    width: 400px;
  }
  
}
@media (max-width:990px) {
  #mynav #navigation-bar {
    display: none;
  }
  #mynav .container-fluid {
    justify-content: space-between;
  }
  .left-section {
    display: none;
  }
}

/*------ TEPLATE ------*/
#template .width {
  max-width: 1400px;
  padding: 0px;
}
/*----SLIDER -----*/
.mySwiper {
  height: 600px;
  
}
.item-1 {
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/home1/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.item-1 .overlay { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:black;
  opacity: 0.3;
}
.item-1 .content {
  max-width: 740px;
  position:absolute;
  left: 70px;
  top: 10%;
  bottom: 10%;
  font-weight:900;
  color: white;
}
.item-1 .content h1 {
 font-size: 8vw;
 margin-bottom: 4rem;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.item-1 .content p,button {
  margin-bottom: 4rem;
}
.item-1 .content button {
  width: 170px;
  height: 60px;
  border:none;
  color: white;
  background-color: #4ab9cf;
  transition: 0.5s;
}
.item-1 .content button:hover {
  background-color:#1f425d;
}
.item-2 {
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/home1/slide2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-2 .overlay { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:black;
  opacity: 0.3;
}
.item-2 .content {
  max-width: 740px;
  position:absolute;
  left: 70px;
  top: 10%;
  bottom: 10%;
  font-weight:900;
  color: white;
}
.item-2 .content h1 {
 font-size: 8vw;
 margin-bottom: 4rem;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.item-2 .content p,button {
  margin-bottom: 4rem;
}
.item-2 .content button {
  width: 170px;
  height: 60px;
  border:none;
  color: white;
  background-color: #4ab9cf;
  transition: 0.5s;
}
.item-2 .content button:hover {
  background-color:#1f425d;
}
.swiper-button-next::after {
  position:absolute;
content: 'next';
width: 60px;
height: 60px;
right: 10px;
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
border: 2px solid white;
}
.swiper-button-prev::after {
  position:absolute;
  content: 'prev';
  width: 60px;
  height: 60px;
  left: 10px;
  color: rgb(234, 240, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(234, 240, 241);
}

#conpany-overviwe #about h1 {
  font-size: 90px;
  font-weight: bold;
  color:#eef1f3;
  position: relative;
}
#about h1 .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left: 100px;
  bottom:20px;
}
#about h1 .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  background-color: red;
  left: -80px;
  bottom: 1px;
}
#about h1 .p2 {
  position: absolute;
  bottom: -50px;
  font-size: 55px;
  color: black;
}
#about > .content {
  background-color: #f7f7f7;
}
#about > .profile {
  display: flex;
  gap: 20px;
  padding: 10px;
  position: relative;
}
#about > .profile > img {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 150px;
}
/*--------SERVICE -------*/
#service {
  background-color: #1f425d;
}
.service h1 {
  font-size: 90px;
  font-weight: bold;
  color:#698191;
  position: relative;
}
.service h1 .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  background-color: red;
  left: -80px;
  bottom: 1px;
}

.service h1 .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left: 100px;
  bottom:20px;
}
.service h1 .p2 {
  position: absolute;
  bottom: -50px;
  font-size: 55px;
  color:#ffffff;
}

#swiper-wrapper .swiper-slide{
  display: flex;
  justify-content: center;
  gap: 30px;
  color: white;
}
#swiper-wrapper .swiper-slide img {
width: 100%;
height:270px;
margin-bottom: 2rem;
}
#service-row > div{
  display:flex;
  justify-content: center;
  gap: 30px;
  border: 1px solid gray;
}
#service-row > div img {
  object-fit: contain;
}
#service-row > div p:first-child {
  font-size: 5vw;
  margin-bottom: 0px;
}
#team .container .team {
  font-size: 90px;
  font-weight: bold;
  color:#b3b0b0;
  position: relative;
  max-width: 100%;
}
#team .container .team .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left: 100px;
  bottom:20px;
}
#team .container .team .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  background-color: red;
  left: -80px;
  bottom: 1px;
}
#team .container .team .p2 {
  position: absolute;
  bottom: -50px;
  font-size: 55px;
  color: #1f425d;
}
#my-item > div {
  position: relative;
}
#my-item > div img {
  width: 100%;
}
#my-item > div .hover {
  width: 230px; 
  height: 180px; 
  padding: 30px;
  background-color: #ff5e08;
  color: #fff;
  position:absolute;
  right: 30px;
  bottom: 20px;
  opacity: 0;
  transition: 0.6s;
}
#my-item > div .hover h5 a {
  text-decoration: none;
  color: white;
  transition: 0.6s;
}
#my-item > div .hover h5:hover a {
  color:#6f42c1;
}
#my-item > div .hover .icon {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}
#my-item > div .hover .icon span a {
  text-decoration: none;
  color: white;
}
#my-item > div:hover .hover {
 opacity: 1; 
 right: 0px;
}
#my-item > div .hover .icon span:hover a {
color: black;
}
/*-- QUOTE --- */
#qoute {
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/cost-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
#qoute .h1  {
  font-size: 90px;
  font-weight: bold;
  color:#bebdbd;
  position: relative;
  max-width: 100%;
}
#qoute .h1 .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left: 100px;
  bottom:20px;
}
#qoute .h1 .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  background-color: red;
  left: -80px;
  bottom: 1px;
}
#qoute .h1 .p2 {
  position: absolute;
  bottom: -50px;
  font-size: 55px;
  color: #ffffff;
}
#quot-icon span i {
  font-size: 50px;
}
.phsical-data input { 
 width:20%; 
 margin: 0px 11px;
 padding: 15px 10px;
 outline:none;
}
.phsical-data input:first-child {
  margin-left:0px;
}
.phsical-data input:last-child {
  margin-right: 0px;
}
#input-container input {
  width: 100%;
  margin: 20px 0px;
  padding: 15px 10px;
  outline: none;
}
.mycheckbox > form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mycheckbox input {
 width:30px;
 height: 30px;
}
.mycheckbox label {
  font-size: 4wv;
  color: black;
}
.quote-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 25px;
  background-color:#1f425d;
  color: white;
  border: none;
  margin-top: 30px;
  transition: 0.6s;
}
.quote-btn:hover {
  background-color: #4ab9cf;
}
/*---- PRICE -----*/
#price .h1 {
  font-size: 90px;
  font-weight: bold;
  color:#b3b0b0;
  position: relative;
  max-width: 100%;
  text-align: center;
}
#price .h1 .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left:50%;
  top:50px;

}
#price .h1 .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  background-color: red;
  left: -80px;
  bottom: 1px;
}
#price .h1 .p2 {
  font-size: 6vw;
  color: #1f425d;
}
#price .first {
  width: 100%;
  height:100%;
  padding: 50px 10px;
}
#price .second {
  width: 100%;
  height:100%;
  padding: 50px 10px;
}
#price .third {
  width: 100%;
  height: 100%;
  padding: 50px 10px;
  background-color: #4ab9cf;
  color: #ffffff;
}
#price .btn-hover  {
  display: flex;
  padding: 20px 40px;
  gap: 10px;
  border: 0.5px solid rgb(179, 179, 179);
  background-color: #ffffff;
  transition: 0.4s;
}
#price .btn-hover p {
  margin: 0px;
  color: #1f425d;
}
#price .btn-hover:hover {
  background-color: rgba(224, 101, 0, 0.945);
}
#price .btn-hover1  {
  display: flex;
  padding: 15px 40px;
  gap: 10px;
  border: 0.5px solid #ffffff;
  background-color: #4ab9cf;

}
#price .btn-hover1 p {
  margin: 0px;
  color: #ffffff;
}
#price .btn-hover1:hover {
  background-color: #ffffff;
   
}
#price .btn-hover1:hover p {
  color:#4ab9cf; 
}
#price .btn-hover1 i {
  color: white;
}
#price .btn-hover1:hover i{
  color:#4ab9cf; 
}
#price .row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------REVIEW ------- */
#review {
  background-color: #f7f7f7;
}
#review .h1 {
  font-size: 90px;
  font-weight: bold;
  color:#b3b0b0;
  width:fit-content;
  position: relative;
  max-width: 100%;
  text-align: center;
  margin: auto;
}
#review .h1 .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left:50%;
  top:45px;
}
#review .h1 .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  left: -80px;
  bottom:0.5px;
  background-color: red;
}
#review .h1 .p2 {
  bottom: -35px;
  font-size: 6vw;
  color: #1f425d;
}
#review .img img {
  margin-top: -140px;
  border-radius: 50%;
}
#review .icon span {
  color: orange;
  font-size: 25px;
}
#store{
  height:500px;
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/full-video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#store div {
  width: 200px; 
  height: 200px; 
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#store div a {
  color: rgb(219, 122, 3);
}
#store div span i {
  font-size: 50px;
}
#d-done {
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/dot_map.png);
}
#d-done .container h1 {
  margin-top: 50px;
  color:#4ab9cf;
}
.done-img > div {
  background-color: white;
  width: 200px;
  height: 150px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 10px -5px;
}
.done-img > div img {
  width: 100%;
}
.done-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
}
#world  {
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/cta-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.custom-btn {
  width: fit-content;
  height: 60px;
  padding: 10px 20px;
  border: none;
  background-color: #4ab9cf;
  color: white;
  transition: 0.4s;
}
.custom-btn:hover {
  background-color:#1f425d;
}
.news {
  background-color: #f7f7f7;
}
.news .h1 {
  font-size: 90px;
  font-weight: bold;
  color:#b3b0b0;
  width:fit-content;
  position: relative;
  max-width: 100%;
}
.news .h1 .p1 {
  font-size: 18px;
  color: red;
  position:absolute;
  left:25%;
  top:50px;
}
.news .h1 .p1::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px; 
  left: -80px;
  bottom:0.5px;
  background-color: red;
}
.news .h1 .p2 {
  bottom: -35px;
  font-size: 6vw;
  color: #1f425d;
}
#bg-image {
  background-image: url(https://codexpeed.com/html/transland-html/assets/img/blog/b1.jpg);
  position: relative;
  padding: 0px;
  height: 400px;
  max-width: 350px;
}
#bg-image .overlay {
  width: 100%;
  height: 100%;
  background-color:#ffffff;
  transition: 0.6s;
}
.content {
  position: absolute;
  top: 0px;
}
.news .profile {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#bg-image:hover .overlay {
  opacity: 0.4;
}
#bg-image:hover {
  color: white;
}

/*---- FOOTER -------*/
footer {
  background-color: #1f425d;
  color:#d9d8d8;
}
#footer-container .hover {
  min-width: fit-content;
}

#footer-container .col ul h4 {
  margin-bottom: 15px;
  color: #ffffff;
}
#footer-container .col ul {
  padding: 0px;
}
#footer-container .col ul li {
  list-style-type: none;
  padding: 10px 0px;
}
#footer-container .col ul li a  {
  text-decoration: none;
  font-size: 18px;
  color: #d9d8d8;
  transition: 0.5s;
}
#footer-container .col ul li a:hover {
  color: orangered;
}
.footer-input input {
  outline: none;
  padding: 0px 10px;
  background-color: #b3b0b06e;
  border: none;
  color: #ffffff;
}
.footer-input button  {
  padding: 10px 30px;
  background-color: #4ab9cf;
  border: none;
}
.footer-input button i {
  font-size: 25px;
  color: rgb(255, 115, 0);
}
.footer-input input::placeholder {
  color: white;
  font-size: 17px;
}
#footericon span i {
  margin: 0px 10px;
  font-size: 20px;
}
#footericon span a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.6s;
}
#footericon span a:hover {
  color:#1f425d;
}


